@media screen and (min-width: 813px) {
  .company__text {
    .img {
      height: 320px;
    }
  }
  .service-page__head {
    & > .img {
      height: 320px;
    }
  }
  .company__news {
    .single-card {
      min-height: 145px;

      .text {
        p {
          font-size: 16px;

        }
      }
    }
  }
  .news-inner__main {
    .img {
      height: 320px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .news__other-cont .single-card {
    min-height: 320px;
  }
  .promot .news-inner__main .img {
    height: 320px;
    align-items: flex-end;
    justify-content: flex-end;

    img {
      height: auto;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1070px) {
  .cards-slider {

    .btn-slides {
      position: absolute;
      top: calc(50% - 10px);
      transform: translate(0, -50%);
      border: 1px solid #00B9ED;
      z-index: 2;

      &--prev {
        right: 100%;
      }

      &--next {
        left: 100%;
      }
    }
  }
  .cards-slider--video {

    .btn-slides {
      position: absolute;
      top: calc(50% - 10px);
      transform: translate(0, -50%);
      border: 1px solid #00B9ED;
      z-index: 2;

      &--prev {
        right: 100%;
      }

      &--next {
        left: 100%;
      }
    }
  }
  .cards-section.js-section .btn-slides {
    &--prev {
      right: 100%;
      z-index: 2;
    }

    &--next {
      left: 100%;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 1023px) {
  .call-form .fran-form form {
    column-gap: 20px;
  }
  .call-form .fran-form form .input, .call-form .fran-form form .btn {
    width: calc((100% / 3) - (40px / 3));
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 .c-text-cont {
    padding: 0 12px;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 {
    padding: 18px 12px;
  }
  .service-page {
    overflow: hidden;
  }
  .col-circle .line.vertical.left-line {
    right: calc(100% + 27px);
    top: -57px;
  }
  @-webkit-keyframes growth-long-reverse {
    0% {
      width: 0;
    }
    100% {
      width: calc(100% - 50px);
    }
  }

  @keyframes growth-long-reverse {
    0% {
      width: 0;
    }
    100% {
      width: calc(100% - 50px);
    }
  }
  .col-circle .line.short.left-line + .line {
    left: 24vw;
  }
  .col-circle .line.short.left-line {
    left: -30px;
  }
  .col-circle .line.long {
    width: calc(100% - 50px);
    right: 25px;
  }
  @-webkit-keyframes growth-height {
    0% {
      height: 0;
      opacity: 1;
    }
    100% {
      height: 50px;
      opacity: 1;
    }
  }
  @-webkit-keyframes growth-height-down {
    0% {
      height: 0;
      opacity: 1;
    }
    100% {
      height: 56px;
      opacity: 1;
    }
  }

  @keyframes growth-height-down {
    0% {
      height: 0;
      opacity: 1;
    }
    100% {
      height: 56px;
      opacity: 1;
    }
  }
  @keyframes growth-height {
    0% {
      height: 0;
      opacity: 1;
    }
    100% {
      height: 50px;
      opacity: 1;
    }
  }
  .col-circle .line.vertical {
    left: calc(100% + 31px);
  }
  @-webkit-keyframes growth {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 38px;
      opacity: 1;
    }
  }

  @keyframes growth {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 38px;
      opacity: 1;
    }
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 {
    width: calc((100% / 3) - (40px / 3));
  }
  .corporative-circles-section.service-page__adv .circles-cont {
    row-gap: 30px;
    column-gap: 20px;
  }
  @-webkit-keyframes growth-small {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 30px;
      opacity: 1;
    }
  }

  @keyframes growth-small {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 30px;
      opacity: 1;
    }
  }
  .corporative-circles-section.service-page__adv {
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
  }
  .corp-list__link .text p {
    font-size: 14px;
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .corp-list__link .img {
    height: 160px;
  }
  .service-page__head > .img {
    height: 300px;
  }
  .service-page__cont {
    height: 300px;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;

    &.desk-only {
      display: none;
    }

    &.mob-only {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .service-page__before-slide {
    border-radius: 8px;
  }
  .news__other-cont .single-card .img {
    height: 128px;
  }
  .news__other {
    margin-left: 12px;
    width: 230px;
  }
  .news__other-cont .single-card {
    margin-bottom: 12px;
  }
  .cards-section.js-section .btn-slides {
    &--prev {
      right: auto;
      left: 0;
    }

    &--next {
      left: auto;
      right: 0;
    }
  }
  .cards-slider, .cards-slider--video {

    .btn-slides {

      &--prev {
        right: auto;
        left: 0;
      }

      &--next {
        left: auto;
        right: 0;
      }
    }
  }
  .single-achiv {

    .img {
      width: 70px;
      height: 70px;
      margin-right: 8px;
    }

    .text {
      span {
        font-size: 32px;
        line-height: 1.25;
      }

      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .header-burger {
    display: flex;
    margin-left: 20px;
  }
  .header-top__socials {
    margin-left: 3px;

    .ht-soc {
      &--vb, &--ms {
        display: flex;
      }

      &--yt, &--fb, &--ins {
        display: none;
      }
    }
  }
  .header-top__phones {
    display: none;
  }
  .mobile-phone {
    display: flex;

    a {
      display: flex;
      width: 24px;
      height: 24px;
      align-items: center;
      background: url("../img/ph-ic-1.svg") no-repeat center/16px;
    }
  }
  .header-top__lang {
    order: 1;
  }
  .mobile-phone {
    order: 2;
  }
  .header-top__socials {
    order: 3;
  }
  .header-top__container {
    padding: 15px 0;
  }
  .header-top__btns {
    order: 4;
    margin-left: 12px;
  }
  .header-burger {
    order: 5;
  }
  .btn-cour, .btn-cab {
    padding-left: 7px;
    padding-right: 7px;
  }
  .header.sticked {
    transform: translate(0, -73px);
  }
  .header-bottom {
    display: none;
  }
  .header {
    border-bottom: 0.5px solid #C8C8C8;
  }
  .header-top__container {
    border-bottom: none;
  }
  .header-top {
    position: relative;
    z-index: 2;
  }

  .header-mobile__menu {
    z-index: -1;
    box-shadow: -3px 6px 6px 3px rgba(18, 18, 18, 0.16);
    background: #fff;
    padding: 22px 20px 15px;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    overflow-y: auto;
    top: 100%;
    width: 450px;
    height: auto;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .header-top__phones {
      display: flex;
    }

    .header-top__socials {
      margin-left: 0;

      .ht-soc {
        display: flex;
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 15px;
      margin-bottom: 15px;

      li {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: #000000;
          text-decoration: none;
          text-transform: lowercase;
          display: inline-block;

          &::first-letter {
            text-transform: uppercase;
          }

          &:hover, &.active {
            color: #00B9ED;
            font-weight: bold;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .header {
    &.menu {
      .header-mobile__menu {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
  .search-mobile-block {
    display: flex;
    width: 100%;
  }
  .search-cont .search-field {
    flex-grow: 1;
    width: auto;
    margin-right: 10px;
  }
  .search-cont .searchsubmit {
    padding: 6px 15px;
    max-width: 120px;
  }

}

@media screen and (max-width: 992px) {
  .desk-soc {
    width: 27px;
    height: 27px;
    margin-right: 25px;
  }
  .single-client-block {
    width: calc((100% / 8) - (175px / 8));
    padding-top: calc((100% / 8) - (175px / 8));
  }
  .desk-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desk-buttons__list .desk-socials {
    margin-right: 10px;
    width: calc((100% / 3) - (20px / 3));
    .desk-soc {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .footer__container .footer-logo {
    margin-right: 10%;
  }
  .footer-menu {
    margin-right: 10%;
  }
  .desktop-buttons {
    margin-bottom: 20px;
  }
  .desk-btn {
    margin-right: 10px;
    width: calc((100% / 3) - (20px / 3));
    padding: 7px;
    font-size: 9px;
    line-height: 125%;
  }
  .desk-socials {
    margin-top: 7px;
  }
}

@media screen and (min-width: 971px) {

}

@media screen and (max-width: 970px) {
  .cards-slider--video .cards-slider__container .single-card:first-child .text p, .cards-slider--video .cards-slider__container .single-card:nth-child(3) .text p {
    padding: 0;
  }
  .cards-slider--video .cards-slider__container {
    .single-card {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 812px) {
  .textual-block .container div div {
    columns:2;
  }
  .clients-all_list {

  }
  .single-client-block {
    width: calc((100% / 6) - (125px / 6));
    padding-top: calc((100% / 6) - (125px / 6));
  }
  .single-card .bottom small, .single-card .bottom p {
    font-size: 8px !important;
  }
  .card-obt-cont .single-card {
    min-height: 315px;
  }
  .receptions-select {
    width: calc(50% - 18px);

    &:last-child {
      margin-right: 0;
    }
  }
  .card-obt__text {
    margin-top: 15px;
    * {
      font-size: 10px !important;
      line-height: 1.35 !important;
    }
  }
  .service-page__text {
    margin-bottom: 24px;
    columns: 2;
    column-gap: 20px;

    p, strong, em {
      font-size: 10px;

      strong, em {
        font-size: 10px;
      }
    }
  }
  .service-page__head > .img {
    height: 260px;
  }
  .company-side {
    margin-left: 20px;
  }
  .company__news .single-card {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .company-column {
    width: calc(50% - 10px);
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    span {
      font-size: 12px;
      margin-bottom: 6px;
    }

    p {
      font-size: 10px;
      margin-bottom: 20px;

      & + ol {
        margin-top: -20px;
      }
    }

    ul, ol {
      margin-bottom: 20px;

      li {
        font-size: 10px;
      }
    }
  }
  .cards-slider--video .cards-slider__container .single-card {
    height: 260px;
  }
  .compare {
    margin-bottom: 20px;

    .dots {
      display: flex;
    }
  }
  .mob-only-btn {
    display: flex;
    width: 100%;
  }
  .cards-section__container {
    .dots {
      display: flex;
    }
  }
  .cards-slider {
    .dots {
      display: flex;
    }
  }
  .cards-slider--video {
    .dots {
      display: flex;
    }
  }
  .content_col .popup-tip-wrap {
    left: auto;
    width: 250px;

    .popup-tip {
      font-size: 8px;
      line-height: 10px;
    }
  }
  .compare h2 {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .price-title {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .price-side .container_prise .top_sidebar {
    padding-bottom: 12px;
    margin-bottom: 12px;

    h1 {
      font-size: 14px;
    }
  }
  .price-list .table_prise .hed_row .content_col {
    font-size: 8px;
  }
  .price-list .table_prise .content_row .content_col {
    font-size: 10px;
  }
  .compare-slide {
    height: 210px;
  }
  .form-price__result .prise_result {
    font-size: 14px;

    span {
      font-size: 14px;
    }
  }
  .btn-slides {
    display: none !important;
  }
  .cards-slider__container {
    height: 698px;
  }
  .mobile-buttons {
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    ul {
      width: 100%;
      display: flex;

      li {
        width: calc((100% / 3) - (20px / 3));
        margin-right: 10px;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 7px;
          box-sizing: border-box;

          font-style: normal;
          font-weight: bold;
          font-size: 9px;
          line-height: 125%;
          text-transform: uppercase;
          color: #FFFFFF;
          border-radius: 3px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
          transition: border 0.3s ease, background-color 0.3s ease;

        }

        &:nth-child(1) {
          a {
            background: #00B9ED;
            border: 1px solid #00B9ED;

            &:hover {
              background: #fff;
              color: #00B9ED;
              transition: border 0.3s ease, background-color 0.3s ease;

            }
          }
        }

        &:nth-child(2) {
          a {
            background: #2F6AB2;
            border: 1px solid #2F6AB2;

            &:hover {
              background: #fff;
              color: #2F6AB2;
              transition: border 0.3s ease, background-color 0.3s ease;

            }
          }
        }

        &:nth-child(3) {
          a {
            background: #762F88;
            border: 1px solid #762F88;

            &:hover {
              background: #fff;
              color: #762F88;
              transition: border 0.3s ease, background-color 0.3s ease;

            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .footer__container .footer-logo {
    width: 150px;
  }
  .seo-block {
    margin: 12px 0 30px;
  }
  .footer-menu ul li {
    margin-bottom: 4px;

    a {
      font-size: 10px;
    }
  }
  .footer__socials {
    margin-bottom: 10px;
  }
  .footer__address p {
    font-size: 10px;
  }
  .footer__contacts a {
    font-size: 10px;
  }

  .seo-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .cards-list {
    column-gap: 20px;

    .single-card {
      width: calc((100% / 3) - (40px / 3));
    }
  }
  .cards-list.cards-list--double .single-card {
    width: calc((100% / 2) - 10px);
  }
  .single-card {
    .img {
      height: 200px;
    }

    .text {
      padding: 8px 10px;

      p {
        font-size: 12px;
        line-height: 1.25;
        margin-bottom: 6px;
      }
    }

    .tag {
      font-size: 6px;
      margin-bottom: 8px;
    }
  }
  .achiv {
    margin: 10px 0;
  }
  .banner-slide {
    &:nth-child(1n) {
      p {

      }
    }

    &:nth-child(2n) {
      p {
        margin-top: 42px;
      }
    }

    &:nth-child(3n) {
      p {

      }
    }

    &:nth-child(4n) {
      p {

      }
    }
  }
  .sliders-banners__container {
    height: 390px;
  }
  .banner-slide p {
    font-size: 12px;
    line-height: 1.25;
  }
  main {
    margin-top: 20px;
  }
  .spec-services {
    margin-bottom: 20px;
  }
  .spec-services__single {
    padding: 10px 10px 10px 0;

    .img {
      width: 55px;
      height: 55px;
      margin-right: 5px;
    }

    p {
      font-size: 10px;
    }
  }
  .header-top__menu {
    width: 100%;
    order: 1;
    justify-content: flex-end;
  }
  .header-top__container {
    justify-content: space-between;
    flex-wrap: wrap;

    .logo {
      width: 214px !important;
      margin: 30px 0 15px;
      box-sizing: border-box;
      margin-right: 20px;
      order: 2;
    }

  }
  .header-burger {
    z-index: 2;
  }
  .header.sticked {
    transform: translate(0, -55px);
  }

  .cards-list.cards-list--double .single-card .img {
    width: 130px;
  }
  .fran-form .container_form .btn {
    font-size: 12px;
  }
  .service-page__cont.desk-only {
    display: none;
  }
  .cord-adv__single {
    padding: 8px 11px;

    p {
      font-size: 12px;
      line-height: 1.25;
    }
  }
}

@media screen and (max-width: 767px) {
  .news-inner__main .text iframe {
    height: 250px !important;
  }
  .no-results {
    div {
      font-size: 24px;
    }
  }
  .for-feed-back {
    margin: 20px 0;
  }

  .textual-block .container p, .textual-block .container ul li {
    font-size: 10px;
  }

  .textual-block .container ol li {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .marginet-top {
    margin-top: 20px;
  }

  .service-page__delivery-content {
    &.service-page__delivery-content--wrap {
      flex-wrap: wrap;
      .service-slider {
        width: 100%;
        margin-bottom: 20px;
      }
    }

  }

  .service-page__container {
    &--cour {
      .service-page__head {
        display: flex;
      }
    }
  }

  .partn-list {
    row-gap: 20px;
    column-gap: 20px;

    .img {
      width: calc((100% / 8) - (140px / 8));
    }
  }

  .corp-list__link .text p {
    font-size: 12px;
    line-height: 15px;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 {
    padding: 18px 20px;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 .c-text-cont {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 .c-text {
    font-size: 10px;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 .c-text-cont {
    padding: 0;
    max-width: none;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 .c-text small {
    font-size: 10px;
  }
  .corp-list__link {
    padding: 9px;
    box-sizing: border-box;
    width: calc((100% / 3) - (20px / 3));
  }
  .service-page__corp-list {
    gap: 10px;
  }
  .corp-list__link .img {
    height: 130px;
    margin-bottom: 7px;
  }
  .company-text__column {
    column-gap: 20px;
  }
  .company-text__column p {
    font-size: 10px;
  }
  .company-text__column strong {
    font-size: 12px;
    margin-top: 14px;
  }
  .company-text__column span {
    font-size: 10px;

    strong {
      font-size: 10px;
    }
  }
  .company-text__column ul li {
    font-size: 10px;
    padding-left: 10px;

    &::before {
      top: 6px;
      left: 4px;
    }
  }

  .service-page__text {
    max-height: 180px;
    padding-bottom: 16px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    .open-ser-txt {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;

      span {
        background: #00B9ED;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-right: 3px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.visible {
      max-height: none;

    }
  }

  .service-page__price .price-list .block_prise.hidden-btn div .table_prise {
    max-height: 260px;
  }
  .service-page__delivery-content > .img {
    display: none;
  }
  .service-deliv {
    margin-left: 0;
    width: 100%;
  }
  .service-deliv .styled-form {
    .form-title {
      font-size: 14px;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
  }
  .service-page__price {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .service-page__price-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .price-list {
      width: 100%;
    }

    .price-side {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
    }
  }
  .service-page__price > h2 {
    text-align: center;
  }
  .service-page__adv-item {
    padding: 3px 15px 6px;

    .img {
      width: 50px;
      height: 50px;
      margin-bottom: 9px;
    }

    p {
      font-size: 8px;
    }
    small {
      font-size: 8px;
      margin-top: 0;
    }
  }
  .service-page__container h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .news-inner__block {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .news-inner {
    margin: 20px 0 25px;
  }
  .news-inner__main {
    width: 100%;
    margin-bottom: 25px;
  }
  .news__other {
    width: 100%;
    margin-left: 0;

    > .btn {
      width: auto;
      margin-top: 20px;
    }
  }
  .news__other-cont {
    width: calc(100% + 24px);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto;
    padding: 12px;
    box-sizing: border-box;
    margin: -12px;

    .single-card {
      margin-bottom: 0;
      margin-right: 10px;
      width: calc((100% / 3) - (20px / 3));
      flex-shrink: 0;

      .img {
        height: 145px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .news-inner__main {
    h1 {
      margin-bottom: 12px;
      font-size: 18px;
    }
  }
  .news-inner__main .text *:not(.btn) {
    font-size: 10px !important;
  }
  .news-inner__main .tag {
    margin-bottom: 20px;
  }
  .news-inner__main .img {
    margin-bottom: 20px;
  }
  .news-inner__main .text .btn {
    width: 80%;
  }
  .all-cards {
    margin-bottom: 25px;
  }
  .cards-section__container .main-title {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .cards-list + .btn {
    margin-top: 6px;
  }
  .btn.btn--big {
    padding: 6px 20px;
  }
  .main-title, .textual-block .container h1 {
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 12px;
    text-align: center;

    &::after {
      width: 50px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .textual-block .container h1 {
    margin-bottom: 15px;
  }
  .sliders-banners__container {
    height: 310px;
  }
  .banner-slide p {
    font-size: 10px;
    line-height: 1.25;
  }

  .header-top__lang a:nth-child(2) {
    margin-left: 3px;
    padding-left: 3px;
  }
  .header-burger {
    //margin-top: 15px;
  }
  .header-top__menu {
    justify-content: center;
  }
  .header-top__lang {
    margin: 0 auto 0 0;
  }
  .header-top__socials {
    margin-right: 12px;
  }
  .mobile-phone {
    margin-left: 12px;
  }
  .header-top__btns {
    margin-left: auto;
  }

}

@media screen and (max-width: 680px) {
  .clients-all_list {
    gap: 20px;
    margin-bottom: 20px;
  }
  .single-client-block {
    width: calc((100% / 5) - (80px / 5));
    padding-top: calc((100% / 5) - (80px / 5));
  }
  .partn-list {
    justify-content: center;
  }
  .partn-list .img {
    width: calc((100% / 6) - (100px / 6));
  }
  .company__contacts {
    margin-bottom: 30px;
  }
  .company-map {
    width: calc(50% - 5px);
  }
  .company-time {
    margin-right: 10px;
    width: calc(50% - 5px);
    padding: 12px 14px 16px 19px;

    strong {
      font-size: 14px;
      margin-bottom: 10px;
    }

    span, p, a {
      font-size: 10px;
    }
  }
  .company-side {
    margin-bottom: 10px;
  }
  .company__news {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .company__news .single-card {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 10px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .company__text {
    .img {
      display: none;
    }
  }
  .non-visible {
    display: flex;
    margin-bottom: 10px;

    &.img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  .company {
    margin-top: 18px;
  }
  .company__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .company-side {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .company__content {
    width: 100%;
  }
  .seo-text * {
    font-size: 10px;
    line-height: 13px;
  }
  .seo-text {
    p {
      margin-bottom: 8px;
    }

    ul {
      margin: 8px 0;

      li {
        margin-bottom: 8px;
      }
    }

    h2 {
    }
  }
  .seo-text {
    max-height: 145px;
  }
  .seo-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
  }
  .sliders-banners__container {
    height: 310px;
  }

}

@media screen and (max-width: 620px) {
  .single-card .work {
    font-size: 10px;

    span {
      font-size: 10px;
    }
  }
  .single-card .line a {
    font-size: 6px;
  }
  .receptions__head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .map-recep__cont {
    height: 330px;

    #store_map {

    }
  }
  .receptions-select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .price-list .table_prise .content_row {
    display: flex;
  }
  .form-prices {
    margin-top: 0;
  }
  .price-list .table_prise .content_col:nth-child(1) {
    padding-left: 10px;
    padding-right: 4px;
    width: 35%;
  }
  .price-list .table_prise .content_col {
    &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      width: calc(65% / 3);
    }
  }
  .table_prise .content_row {
    padding: 0;
  }
  .q-mark {
    width: 9px;
    height: 9px;
    line-height: 9px;
    font-size: 6px;
  }
  .price-block__content {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 254px;

    .form-prices {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  .price-title {
    margin-bottom: 8px;
  }
  .price-side .container_prise.hidden-bar {
    max-height: 210px;
  }
  .price-side {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .price-list {
    width: 100%;
  }
  .price-list .block_prise.hidden-btn div .table_prise {
    max-height: 250px;
  }
  .cards-section.js-section .cards-list {
    padding: 10px;
    margin: -10px;
    width: calc(100% + 20px);
  }
  .cards-section {
    margin-bottom: 25px;
  }
  .service-subtitle {
    margin-bottom: 16px;
  }
  .breadcrumbs-block {
    margin-bottom: 5px;
  }
  .breadcrumbs-list {
    overflow-x: auto;
    padding-bottom: 5px;

    li {
      flex-shrink: 0;

      a {
        white-space: nowrap;
      }
    }
  }
  .cards-slider__container {
    width: calc(100% + 20px);
    padding: 10px;
    margin: 0 -10px;
    box-sizing: border-box;
    height: 665px;

    .single-card {
      height: calc((100% - 10px) / 2);
    }
  }
}

@media screen and (max-width: 600px) {
  .table_prise .hed_row.check_block .content_col .square_check {
    top: 7px;
  }
  .desk-buttons__list .desk-socials {
    justify-content: center;
  }
  .cour-non {
    display: none !important;
  }
  .desktop-buttons {
    .desk-btn {
      height: 25px;
      align-items: center;
    }
    .desk-btn:nth-child(even) {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  .fran-form .styled-form .form_row > .date_col {
    width: 100%;
  }
  .fran-form .styled-form .container_fran {
    padding: 20px 12px;
  }
  .fran-form .styled-form .form_label {
    font-size: 10px;
    line-height: 1.2;
  }
  .styled-form .select-row label {
    font-size: 12px;
  }
  .fran-form .styled-form .form_row {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    .form_label {
      width: 100% !important;
      margin-bottom: 6px;
    }
    .form_input {
      width: 100% !important;
    }
  }

  .search__cont {
    .price-list .table_prise .check_block .content_col .square_check {
      top: 50%;
    }
  }
  .form-call-back {
    max-width: 100%;
  }
  .textual-block .container div div {
    columns:1;
    p + p {
      margin-top: 15px;
    }
  }
  .clients-all_list {
    gap: 20px;
    margin-bottom: 20px;
  }
  .single-client-block {
    width: calc((100% / 4) - (60px / 4));
    padding-top: calc((100% / 4) - (60px / 4));
  }
  .service-page {
    margin-top: 20px;
  }
  .service-page__adv-list {
    &.service-page__adv-list {
      .service-page__adv-item {
        padding: 3px 20px 6px;
        width: 50%;
      }
    }
  }
  .table_prise .check_block .content_col .square_check {
    top: 22px;
  }
  .desk-buttons__list .desk-socials {
    order: 2;
    margin-right: 0;
    width: 100%;
    & + .desk-btn {
      margin-bottom: 10px;
    }
  }

  .corp-adv__list {
    justify-content: center;
    flex-wrap: wrap;
  }
  .cord-adv__single {
    width: calc(100% / 3);

    &:nth-child(1) {
      margin-left: 20px;
    }

    &:nth-child(2) {
      margin-right: 20px;
    }
  }
  .corp-our-adv {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .call-form .fran-form {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }
  .fran-form .container_form {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .call-form .fran-form form .input, .call-form .fran-form form .btn {
    width: 100%;
  }
  .call-form .fran-form form {
    row-gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .service-page__corp-list {
    padding-bottom: 20px;
  }
  .call-form {
    margin-top: 20px;
  }
  .service-slider {
    height: 220px;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 {
    padding: 16px 20px;
  }
  .corporative-circles-section.service-page__adv .circles-cont {
    width: calc(100% + 28px);
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    max-width: none;
    background: url("../img/corp-sec-bg-mob.svg") no-repeat center;
    background-size: 100% calc(100% - 80px);
  }
  .col-circle .line {
    display: none;
  }
  .corporative-circles-section.service-page__adv .circles-cont .col-33 {
    width: calc((100% / 2) - 10px);
  }
  .corporative-circles-section.service-page__adv {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .corp-list__link .img {
    padding: 0;
    height: 110px;
  }
  .service-page__head > .img {
    height: 200px;
  }
  .service-page__head {
    margin-bottom: 20px;
  }

  .cards-slider--video .cards-slider__container .single-card {
    height: 200px;
  }
  .compare-slide {
    height: 160px;
  }
  .price-slider {
    display: flex;

    &__container {
      height: 170px;
    }
  }
  .news__other-cont .single-card {
    width: calc((100% / 2) - 5px);
    flex-shrink: 0;
  }
  .news__other > .btn {
    width: 100%;
    margin-top: 15px;
  }
  .desk-buttons__list {

    flex-wrap: wrap;
    justify-content: center;
  }
  .desk-btn {
    width: calc(50% - 5px);
    margin-bottom: 10px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  .desk-soc {
    width: 24px;
    height: 24px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
  .cards-slider__container {
    height: 520px;
  }
  .btn {
    font-size: 8px;
    padding: 3px;
    line-height: 125%;
  }
  .footer__container {
    flex-wrap: wrap;
    padding: 15px 20px 10px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    box-sizing: border-box;

  }
  .footer {
    .footer-logo {
      padding-bottom: 50px;

    }
  }
  .footer__socials .ht-soc {
    width: 27px;
    height: 23px;
  }
  .footer__side {
    width: 100%;
    padding: 0 20px;
    border-top: 0.5px solid #C8C8C8;
  }
  .footer__socials {
    position: absolute;
    top: 117px;
    left: 20px;
  }
  .footer .footer-logo {
    margin-right: calc(50% - 150px);
  }
  .footer-menu {
    width: 50%;
    margin-right: 0;
  }
  .footer__address p {
    line-height: 150%;
  }

  .footer__contacts {
    padding: 10px 0 0;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer__address {
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  .cards-list.cards-list--double .single-card {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc((100% / 2) - 6px);

    .img {
      width: 100%;
      height: 120px;

    }
  }
  .single-card {
    .img {
      height: 145px;
    }
  }
  .achiv-list {
    column-gap: 10px;
  }
  .cards-list {
    width: calc(100% + 24px);
    column-gap: 12px;
    overflow-x: auto;

    padding: 12px;
    margin: 12px - 12px;

    .single-card {
      width: calc(50% - 6px);
      flex-shrink: 0;
    }
  }
  .single-achiv {
    width: calc((100% / 3) - (20px / 3));

    .img {
      width: 40px;
      height: 40px;
      margin-right: 2px;
    }

    .text {
      span {
        font-size: 18px;
        line-height: 1.25;
      }

      p {
        font-size: 8px;
        line-height: 10px;
      }
    }
  }
  .mobile-slider-banners {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .slider-banners {
    display: none;
  }
  .sliders-banners__container {
    height: 150px;
    display: flex;
    align-items: stretch;

    .swiper-wrapper {
      display: flex;
      align-items: stretch;
    }
  }
  .banner-slide {
    align-items: flex-end !important;
    justify-content: flex-start !important;
    width: 100%;

    &:nth-child(1n) {
      p {
        margin: 0 0 17px 0;
      }


    }

    &:nth-child(2n) {
      p {
        margin: 0 0 17px 0;
      }

    }

    &:nth-child(3n) {
      p {
        margin: 0 0 17px 0;
      }
    }

    &:nth-child(4n) {
      p {
        margin: 0 0 17px 0;
      }
    }
  }
  .header {
    &.menu {
      transform: translate(0, 0) !important;
    }
  }
  .header-mobile__menu {
    left: 0;
    width: auto;
    height: calc(100vh - 146px);
  }
}

@media screen and (max-width: 540px) {
  .card-obt-cont .single-card {
    min-height: 239px;
  }
  .cord-adv__single p {
    margin-top: 3px;
    font-size: 8px;
  }
  .partn-list .img {
    width: calc((100% / 4) - (60px / 4));
  }
  .spec-services__single {
    padding: 10px 0 10px 0;

    .img {
      width: 40px;
      height: 40px;
      margin-right: 4px;
    }

    p {
      font-size: 8px;
    }
  }
}

@media screen and (max-width: 525px) {
  .corp-list__link {
    width: calc(50% - 5px);
  }
  .service-slider {
    height: 162px;
  }
  .service-page__text {
    max-height: 96px;
  }
  .service-page__cont {
    height: 200px;
  }
  .service-page__head > .img {
    height: 162px;
  }
  .cards-slider--video .cards-slider__container {
    .swiper-wrapper {
      flex-wrap: wrap;
      gap: 10px;

      .single-card {
        margin-right: 0;
        margin-bottom: 0;
        width: calc(50% - 5px);

        &:nth-child(even) {
          margin-right: 0;
        }

        &:nth-child(7n - 1), &:first-child {
          width: 100%;
          margin-right: 0;

          .img {
            height: 100%;

          }

          .text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0);
            color: #000;
            z-index: 2;
            padding: 6px 10px;

            &::before {
              height: 120px;
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: -1;
              background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
              display: inline-block;
              content: '';
            }

            p {
              color: #000;
              padding: 9px;
              font-size: 14px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 413px) {
  .company__news {
    &.company__news--menu {
      .single-card {
        min-height: 68px;
      }
    }
  }
  .sliders-banners__container {
    height: 150px;
  }
  .btn-cour, .btn-cab {
    padding-left: 5px;
    padding-right: 5px;
  }
  .btn-cab {
    font-size: 11px;
  }
  .ht-soc--ms {
    margin-right: 0 !important;
  }
  .header-top__socials {
    margin-right: 8px;
  }
  .header-top__btns a {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
  .mobile-phone a {
    width: 22px;
    height: 22px;
  }
  .ht-soc--vb, .ht-soc--ms {
    width: 22px;
  }
}

@media screen and (max-width: 374px) {
  .footer__side {
    margin-top: 10px;
  }
  .single-achiv {
    .img {
      width: 35px;
      height: 35px;
      margin-right: 2px;
    }

    .text {
      span {
        font-size: 15px;
        line-height: 1.25;
      }

      p {
        font-size: 8px;
        line-height: 10px;
      }
    }
  }
  .spec-services__single {
    padding: 5px 0;
    width: 50%;

    .img {
      width: 44px;
      height: 44px;
      margin-right: 5px;
    }

    p {
      font-size: 10px;
    }
  }
  .container {
    padding: 0 15px;
  }
  .header {
    &.sticked {
      transform: translate(0, -47px);
    }
  }
  .header-mobile__menu {
    left: 0;
    width: auto;
    height: calc(100vh - 108px);
  }
  .header-top__container .logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .header-top__container {
    padding: 10px 0;
  }
  .header-top__btns a {
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
  .btn-cour, .btn-cab {
    padding: 5px 2px;
    font-size: 9px;
  }
  .header-top__socials {
    margin-right: 6px;
  }
  .btn-cab {
    font-size: 10px;
  }
  .mobile-phone a {
    width: 19px;
    height: 19px;
  }
  .ht-soc--vb, .ht-soc--ms {
    width: 19px;
  }
  .header-top__lang a {
    font-size: 10px;
  }
  .header-top__container .logo {
    width: 180px !important;
  }
  .footer__socials {
    top: 95px;
  }
  .footer__container {
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer__contacts {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }
  .footer .footer-logo {
    width: 120px;
    margin-right: calc(50% - 120px);
  }
  .compare-slide {
    height: 190px;
  }
}

@media screen and (max-width: 358px) {
  .clients-all_list {
    gap: 20px;
    margin-bottom: 20px;
  }
  .single-client-block {
    width: calc((100% / 3) - (40px / 3));
    padding-top: calc((100% / 3) - (40px / 3));
  }
  .card-obt-cont .single-card {
    min-height: 247px;
  }
  .cord-adv__single .img {
    width: 52px;
    height: 52px;
  }
  .cord-adv__single {
    padding: 6px 3px;
  }

  .corporative-circles-section.service-page__adv .circles-cont .col-33 .c-text {
    font-size: 8px;

    small {
      font-size: 8px;
    }
  }
}
